body,
a {
    font-family: 'Ubuntu', sans-serif;
    color: #373a40;
    text-decoration: none;
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.logo {
    background: url("../assets/hms-logo.svg");
    height: 57.5px;
    width: 150px;
}

.nav-item {
    position: relative;
}

.nav-link {
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
}

.nav-link:hover {
    color: #373a40;
    font-weight: bolder;
}

.nav-link::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav-link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background-color: #a8dda8;
    transition: width 0.3s ease 0s, left 0.3s ease 0s, height 0.3s linear;
    width: 0;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
    height: 3px;
}

.signin-btn {
    padding: 5px 20px;
    background-color: #a8dda8;
    border: 0;
    font-weight: bold;
}

.signin-btn:hover {
    background-color: #2d6187;
    border: 0;
}

.login-btn {
    padding: 5px 20px;
    background-color: #ffffff;
    border: 1px solid #373a40;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #2d6187;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.content {
    margin: 15vh 5vw;
    text-align: center;
    padding: 0 2%;
    position: relative;
    height: auto;
}

.heading {
    margin: 10px auto;
    word-spacing: 1rem
}

.special-letter {
    font-size: 3rem;
    letter-spacing: 0.1em;
}

.taglines {
    margin: 10% auto;
    padding: 0 10%;
    text-align: center;
    height: 100px;
}

.cursor {
    border-right: 0.1em solid #ec735c;
    animation: blink-cursor 0.75s linear infinite;
}

.top-img {
    max-width: 100vw;
    margin: auto;
    height: 100%;
    display: block;
}


@keyframes blink-cursor {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: #ec735c
    }
}
